
.card1{
    border-bottom: 2px solid rgba(84, 176, 204, 0.849);
    margin: 15px 15px !important;
}
.card2{
    border-bottom: 2px solid rgba(94, 204, 84, 0.849);
    margin: 15px 15px !important;
}
.card3{
    border-bottom: 2px solid rgba(204, 88, 84, 0.849);
    margin: 15px 15px !important;
}



